<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css"/>
    <title>{% block title %} {% endblock %}</title>
</head>


<body>
    <nav class="title">
        <a class="" href="{{url_for('Examns')}}">Examns</a>
        <a href="{{url_for('Categories')}}">Categories</a>
        <a href="{{url_for('Login')}}">Login</a>
        
    </nav>
   <div class="content">
    {% block content %} {% endblock %}
   </div> 
</body>
</html>