<!DOCTYPE html>
<html>
<head>
    <title>Modificar Examen</title>
</head>
<body>
    <h1>Modificar Examen</h1>
    <form method="POST" action="/modificar_examen/{{ examen._id }}">
        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" value="{{ examen.codigo }}" required><br>

        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria">
            {% for categoria in categorias %}
                <option value="{{ categoria.nombre }}" {% if categoria.nombre == examen.categoria %} selected {% endif %}>{{ categoria.nombre }}</option>
            {% endfor %}
        </select><br>

        <label for="tipo_muestra">Tipo de Muestra:</label>
        <input type="text" id="tipo_muestra" name="tipo_muestra" value="{{ examen.tipo_muestra }}" required><br>

        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" value="{{ examen.precio }}" required><br>

        <label for="indicaciones">Indicaciones:</label><br>
        {% for indicacion in indicaciones %}
            <input type="checkbox" id="indicaciones" name="indicaciones" value="{{ indicacion.nombre }}"
                   {% if indicacion.nombre in examen.indicaciones %} checked {% endif %}>
            <label for="indicaciones">{{ indicacion.nombre }}</label><br>
        {% endfor %}

        <input type="submit" value="Modificar Examen">
    </form>
</body>
</html>
